.content-warning-container {
    position: relative;
    display: inline-block;
    /* Makes the container fit the image size */
    overflow: hidden;
    /* Prevents overflow if needed */
    /* border: black solid 3px; */
}

.content-warning-container p {
    margin: .5rem 0;
    line-height: 18px;
}


.sensitive-content-container {
        position: absolute;
    bottom: 0;
    width: 100%;
}

.content-settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 110px;

}

.blur-img {
    filter: blur(1.5rem);
}

.content-warning-label {
    background-color: rgb(46, 35, 35);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content-warning-btns {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
/* height: 150px; */
border: white solid 1px;
}


.return-to-prev {
    width: 30%;
flex-direction: column;
border-right: white solid 1px;
}

.view-label, .show-once-btn {
    border-bottom: white solid 1px;
}

.return-to-prev button {
   display: flex;
   justify-content: center;
   align-items: center;
flex-direction: column;
}




.view-settings {
    width: 80%;
}
.return-to-prev button {
    height: 100%;
}
.view-label {
    background-color: #334454;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem 0;
}
.view-label i {
font-size: 25px;
margin-left: .3rem;
}

/* .show-settings-icon-container {
    background-color: black;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
} */

.show-settings-icon {
    /* color: white; */

    font-size: 20px;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    cursor: pointer;
    transition: .15s ease-in-out opacity;
}

.show-settings-icon:hover {
    opacity: .6;
}

.show-content-btn {
    color: white;
    transition: .1s ease-in-out opacity;

}
.show-content-btn:hover {
    opacity: .8;
    color: white;
}

.return-page-btn {
    background-color: #663322;
}
.show-once-btn {
    background-color: #557766;
}
.show-always-btn {
    background-color: #B35C01;
}








.image-style {
    width: 100%;
    max-width: 600px;
    height: auto;
}