.main-container {
    height: 100vh;
    width: 100%;
}

.content-warning-container {
    position: relative;
    display: inline-block;
    /* Makes the container fit the image size */
    /* border: black solid 3px; */

    /* Prevents overflow if needed */
    /* border: black solid 3px; */
    margin-bottom: 2rem;
}

.content-warning-container p {
    margin: 0;
    line-height: 18px;
}


.graphic-content-btns,
.enable-content-warning-btns {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content-settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 110px;

}

.blur-img {
    filter: blur(1.5rem);
}

.content-warning-label {
    background-color: rgb(46, 35, 35);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content-warning-btns {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* height: 150px; */
    border: white solid 1px;
    flex-direction: column;
    z-index: 100;
}

.content-warning-btns button {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.return-to-prev {
    width: 100%;
    border-right: white solid 0px;
    border-bottom: white solid 1px;
}

.view-settings {
    width: 100%;
}



.return-to-prev button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.image-style {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.graphic-content-text {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.graphic-content-text h4 {
    color: white;
    background-color: #000000a6;
    position: relative;
    bottom: 2rem;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
    .graphic-content-text h4 {
        font-size: 1.8rem;
    }
}

.return-page-btn p {
    margin: 0 .2rem;
}

.view-btns i {
    margin: 0 .2rem;
}

@media screen and (min-width: 500px) {
    .content-warning-btns {
        flex-direction: row;
    }

    .content-warning-btns button {
        height: 42px;

    }

    .content-warning-container p {
        margin: .5rem 0;
    }

    .return-page-btn p {
        margin: .2rem 0;
    }

    .view-settings {
        width: 70%;
    }



    .return-to-prev {
        width: 30%;
        border-right: white solid 1px;
        border-bottom: white solid 0px;
    }

    .return-to-prev button {
        flex-direction: column;
        height: 84px;
    }

}

.content-warning-container button {
    color: white;
    transition: .15s ease-in-out opacity;
}

.content-warning-container button:hover {
    color: white;
    opacity: .9;
}



.show-settings-icon {
    /* color: white; */

    font-size: 20px;
    position: absolute;
    bottom: -1.5rem;
    right: 0rem;
    cursor: pointer;
    transition: .15s ease-in-out opacity;
}

.show-settings-icon:hover {
    opacity: .6;
}


.return-page-btn {
    background-color: #663322;
}

.show-once-btn {
    background-color: #557766;
}

.disable-content-warnings-btn {
    background-color: #334454;
}

.enable-content-warning-btn {
    background-color: #334454;
}

.cookie-settings-icon {
   position: absolute;
   right: .5rem;
}

.custom-btn {
    background-color: black;
    border: white solid 2px;
    transition: .15s ease-in-out all;
}
.custom-btn:hover {
    filter: invert(100%);
    transition: .15s ease-in-out all;
}